body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("quizimage/background GIF - Find & Share on GIPHY.gif");
    background-size: cover;
    background-position: center; 
}

.quiz-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    src: format(truetype);
}

.quiz-header {
    text-align: center;
    margin-bottom: 20px;
}

.question-container {
    margin-bottom: 20px;

}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
