body {
    background-color: rgb(120, 184, 224);
}
.gif{
    position: absolute;
    left: 700px;
}
.textbox{
    position: absolute;
    left: 700px;
    top: 300px;
}
.button{
    position: absolute;
    left: 130px;
    top: 100px;

}