body {
    background-color: rgb(198, 225, 242);
}

.head {
    font-style: initial;
    background-color: #3B5999;
    padding: 20px;
    text-align: center;
}

.head h1 {
    color: white;
    font-size: 36px;
}

.id {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.id label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

.id input[type="text"],
.id input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.id .login {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(198, 225, 242)
}